button {
    width: 270px;
    margin: 0px 50px;
    padding: 15px 0px;
    outline: none;
    border: none;
    font-size: .9rem;
    border-radius: 30px;
    transition: .1s;
    cursor: pointer;
}
#free-btn {
    margin-top: 90px;
    background-color: $blue;
    color: $white;
    &:hover {
        border: 2px solid $blue;
        background-color: $white;
        color: $blue;
    }
}
#pro-btn {
    background-color: $white;
    color: $blue;
    &:hover {
        border: 2px solid $white;
        background-color: $blue;
        color: $white;
    }
}
